<div class="container-fluid">
	<div class="row centered-form">
		<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Please sign up</h3>
				</div>
				<div class="panel-body">
					<form role="form" [formGroup]="registerForm">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<label class="form-control-label">First Name</label>
									<input type="text" formControlName="firstName"  [(ngModel)]="user.firstName" class="form-control input-sm" placeholder="First Name">
									<p class="alert alert-danger" *ngIf="registerForm.controls.firstName.dirty && !registerForm.controls.firstName.valid">This field is required!</p>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<label class="form-control-label">Last Name</label>
									<input type="text" formControlName="lastName" [(ngModel)]="user.lastName" class="form-control input-sm" placeholder="Last Name">
									<p class="alert alert-danger" *ngIf="registerForm.controls.lastName.dirty && !registerForm.controls.lastName.valid">This field is required!</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="form-control-label">Email (also your username)</label>
							<input type="email" formControlName="username" [(ngModel)]="user.userName" class="form-control input-sm" placeholder="Email Address">
							<p class="alert alert-danger" *ngIf="registerForm.controls.username.dirty && !registerForm.controls.username.valid">This field is required with valid email format!</p>
						</div>
						<div class="row" formGroupName="pwdGroup">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<label class="form-control-label">Password</label>
									<input type="password" name="password" formControlName="password" [(ngModel)]="user.password" class="form-control input-sm" placeholder="Password">
									<p class="alert alert-danger" *ngIf="registerForm.controls.pwdGroup?.password?.errors">This field is required!</p>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<label class="form-control-label">Confirm Password</label>
									<input type="password" name="confirmPwd" formControlName="confirmPwd"  class="form-control input-sm" placeholder="Confirm Password">
									<p class="alert alert-danger" *ngIf="registerForm.controls.pwdGroup.errors">Should match password!</p>
								</div>
							</div>
						</div>
						<span *ngIf="!registerForm.controls.pwdGroup.valid" class="help-block text-danger">
						<div *ngIf="registerForm.controls.pwdGroup?.errors?.matchPassword">
							The two passwords aren't the same
						</div>
						</span>
						<button type="submit" [disabled]="!registerForm.valid" (click)="onSubmit()" class="btn btn-info btn-block">Register</button>
					</form>
					<p class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</p>
				</div>
			</div>
		</div>
	</div>
</div>