<div class="container-fluid">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Successfull logout</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{{user.firstName}}, {{user.lastname}}</strong> are successfully logged out.!!</p>
                </div>
            </div>
        </div>
    </div>
</div>