<div class="row">
    <div class="col-md-12">
        <selected-contract [contract]="selectedContract"></selected-contract>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['/bookhours/amhours']"><span class="glyphicon glyphicon-time"></span> AM Hours</a>
            </li>
            <li class="list-group-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['/bookhours/kthours']"><span class="glyphicon glyphicon-time"></span> KT Hours</a>
            </li>
            <li class="list-group-item"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['/bookhours/fixedhours']"><span class="glyphicon glyphicon-time"></span> Fixed Hours</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>