<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li routerLinkActive="active" >
                <a routerLink="/bookhours/amhours" >
                    <span class="glyphicon glyphicon-time"></span> AM Hours
            </a></li>
            <li routerLinkActive="active" >
                <a routerLink="/bookhours/kthours" >
                    <span class="glyphicon glyphicon-time"></span> KT Hours
                </a></li>
            <li routerLinkActive="active">
                <a routerLink="/bookhours/fixedhours">
                    <span class="glyphicon glyphicon-time"></span> Fixed Hours
                </a></li>
            <li>
                <selected-contract [contract]="selectedContract"></selected-contract>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>