<div class="row">
    <div class="col-md-1">
        <a class="btn btn-warning" href="/resourcetype">Resource Type(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning" href="/businesslines">Business Line(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning">Skill(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning">Role(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning">Grade(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning">Onshore Price(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning">Offshore Price(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning">Stay Type(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning">User role(S)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning">Status(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning">Band(s)</a> 
    </div>
    <div class="col-md-1">
        <a class="btn btn-warning"></a> 
    </div>
</div>